/* Custom Styles: This is where you write your own CSS to change how the page looks */

/* :root is used to define global variables (colors, fonts, etc.) that you can reuse */
:root {
    --primary-color: #66ccff;
    --secondary-color: #6c757d;
    --page-color: white
}

/* body styles apply to the entire page */
body {
    /* font-family sets the text style. If the first font isn't available, it tries the next one. */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: var(--page-color);
}

/* footer styles apply only to the <footer> element */
footer {
    /* margin-top: auto helps push the footer to the bottom if there's little content */
    margin-top: auto;
}

.btn-secondary, .btn-primary{
    margin: 20px;
    color: black;
}

.btn-primary {
    background-color: var(--primary-color);
    border: black 2px solid;
}

.modal-inner {
    background-color: var(--page-color);
    border: var(--secondary-color) 6px solid;
    padding: 35px;
    text-align: center;
}

.modal {
    display: none;
    width: 100vh;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: none;
    
}

.modal.open {
    pointer-events: auto;;
    opacity: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}