/* Custom Styles: This is where you write your own CSS to change how the page looks */

/* :root is used to define global variables (colors, fonts, etc.) that you can reuse */
:root {
    --primary-color: #66ccff;
    --secondary-color: #6c757d;
    --page-color: #f1f2f6;
    --text-color: #4f6d7a
}

.hero {
    background: var(--primary-color);
    color: var(--text-color)
}

#points-navbar {
    margin-left: 375px;
    color: white;
}

/* body styles apply to the entire page */
body {
    /* font-family sets the text style. If the first font isn't available, it tries the next one. */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: var(--page-color);
    color: var(--text-color)
}

/* footer styles apply only to the <footer> element */
footer {
    /* margin-top: auto helps push the footer to the bottom if there's little content */
    position: fixed;
    bottom: 0;
    width: 100%
}

#loginButton {
    margin-right: 0;
}

.forms {
    margin: 10px;
    text-align: center;
    font-size: 20px;
}

.input-fields {
    width: 300px;
    margin: 10px;
}

#passwordLabel {
    margin-top: 30px;
}

#submitLoginButton {
    width: 100px;
}

.tables th, .tables td {
    color: var(--text-color);
    background: var(--page-color);
}

.btn-success {
    background: #73bfb8;
    color: var(--text-color)
}

.btn-danger {
    background: #eb8a90;
    color: var(--text-color)
}

.input-boxes {
    width: 300px;
}

.btn-secondary, .btn-primary{
    margin: 5px;
    color: var(--text-color);
    padding: 5px;
}

.btn-primary {
    margin-top: 20px;
    background: var(--primary-color);
}

.btn-secondary {
    background: #eb8a90;
}

.modal-content {
    background-color: var(--page-color);
    border: var(--secondary-color) 6px solid;
    border-radius: 20px;
    padding: 35px;
}

.modal-text {
    font-size: 25px;
    font-weight: semi-bold;
}